<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel = "icon" href = "/static/Icon.png" type = "image/x-icon"> 
    <title>Space Tour</title>
    <style>
        .topnav{
        background-color:black;
        overflow: hidden;
        width: 100%;
      }

      .topnav a{
        color: white;
        text-align: center;
        padding: 1% 1.2%;
        text-decoration: none;
        float: left;
        margin-left: 0.3%;

      }
      .topnav img{
        height: 1%;
        width: 7%;
        float: left;
        margin-left: 1%;
      }
      .topnav a:hover {
        background-color:lightblue;
        color:black;
      }
      .topnav a.active {
        background-color:lightblue;
        color: black;
      }
      .link{
        margin-left: 10%;
      }
    </style>
</head>
<body style="overflow-x: hidden; margin: 0px;font-family: Arial, Helvetica, sans-serif; background-image:url(/static/formback5.png);">
  <nav>
    <div class="topnav">
      <img src="/static/Icon1.png" alt="" class="topnav">
      <div class="link">
        <a href="/index">Home</a>
        <a class="active" href="/destination">Choose Destination</a>
        <a href="/covid19">COVID Safe</a>
        <a href="/support">24/7 Support</a>
        <a href="/aboutus">About Us</a>
      </div>
      </div>
  </nav>
    <form style="margin: 2%;" method="POST">
      <div class="form-row">  
        <div class="form-group col-md-3">
          <label for="inputState" style="color: white;">From</label>
          <select id="inputState" class="form-control" name="from" required>
            <option>Mercury</option>
            <option>Venus</option>
            <option>Earth</option>
            <option>Mars</option>
            <option>Jupiter</option>
            <option>Saturn</option>
            <option>Uranus</option>
            <option>Neptune</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="inputState" style="color: white;">To</label>
          <select id="inputState" class="form-control" name="to" required>
            <option>Mercury</option>
            <option selected>Venus</option>
            <option>Earth</option>
            <option>Mars</option>
            <option>Jupiter</option>
            <option>Saturn</option>
            <option>Uranus</option>
            <option>Neptune</option>
          </select>
        </div>
      </div>
      <div class=" form-group-row" >
        <div class="form-check form-check" style="margin-top: 2%;">
          <input class="form-check-input" type="radio" name="option" id="inlineRadio1" value="Economy" checked>
          <label class="form-check-label" for="inlineRadio1" style="color: white;" >Economy<span style="opacity: 60%;">(Normal Jet plane)</span></label>
        </div>
        <div class="form-check form-check">
          <input class="form-check-input" type="radio" name="option" id="inlineRadio2" value="Business">
          <label class="form-check-label" for="inlineRadio2" style="color: white;">Business<span style="opacity: 60%;">(Light Speed Jet)</span></label>
        </div>
        <div class="form-check form-check">
          <input class="form-check-input" type="radio" name="option" id="inlineRadio3" value="Executive">
          <label class="form-check-label" for="inlineRadio3" style="color: white;">Executive<span style="opacity: 60%;">(Hyper Jump Technology)</span></label>
        </div>
      
        
        <div class="form-group col-md-4" style="margin-top: 3%; margin-left: -1%;">
          <label for="inputState" style="color: white;">Number of Passengers</label>
          <select id="inputState" class="form-control" name="passengers">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
        </div>
      </div>
      

      
      <button type="submit" class="btn btn-primary" style="margin-top: 1%;">Submit</button>
    </form>

    <P>{{test}}</P>
    <P>{{test1}}</P>
</body>
</html>